/* General styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */

header {
  background-color: #f9f9f9;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 20px;
}

/* Main styles */

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#hero {
  background-image: url("https://via.placeholder.com/1200x400.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h2 {
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.product {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #e4e1c2;
}

/* Dialog styles */

dialog {
  font-family: Arial, sans-serif;
  padding: 5em;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

dialog h2 {
  font-size: 24px;
  margin: 0;
}

dialog ul {
  list-style: none;
  padding: 0;
}

dialog li {
  margin: 20px 0;
  background-color: #e4e1c2;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #333;
}

dialog h3 {
  font-size: 18px;
  margin: 0;
}

dialog p {
  margin: 5px 0;
  font-size: 14px;
}

dialog strong {
  text-transform: capitalize;
}

#closeButton {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

#closeButton:hover {
  background-color: #555;
}
