body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #131921;
	display: flex;
	align-items: center;
	padding: 10px 50px;
    justify-content: center;
}

.logo img {
	height: 50px;
}

.search-bar {
	margin-left: 50px;
	flex-grow: 1;
    display: flex;
}

.search-bar input[type="text"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
	max-width: 500px;
    flex-grow: 1;
}

.search-bar button {
	padding: 5px 15px;
	border-radius: 5px;
	border: none;
	background-color: #febd69;
	color: #232f3e;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}

main {
	padding: 50px;
    background: #e3e6e6;
}

section {
	margin: 50px 0;
}

section > h2, section > p {
    margin: 0;
}

footer {
	background-color: #232f3e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}

.social-links ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-links li {
	margin: 0 10px;
}

.social-links li a img {
	height: 30px;
}

.banner {
    border-radius: 15px;
}

.banner h3 {
    margin: 0;
    padding: 20px;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
	header {
		padding: 10px;
		flex-wrap: wrap;
	}

	.logo {
		margin-bottom: 10px;
	}

	.search-bar {
		margin-left: 0;
		margin-top: 10px;
	}

    main {
	    padding: 20px;
    }
	.product-card {
		margin: 20px 0;
	}

    bike-catalog {
        grid-template-columns: 1fr;
    }
}
